{% extends 'base.html' %}

{% load static %}

{% block extracss %}

  <link rel="stylesheet" href="{% static 'css/booksearch.css' %}" type="text/css">

{% endblock %}

{% block restcontainer %}

    <div class="row">
        <div class="sidebar col-1 position-fixed"></div>

        <div class="search-results col-8 offset-1">

            <form method="POST">
                {% csrf_token %} 
                {{form.searchinput}}
                {{form.searchinput.errors}}
                <button class="submit" type="submit">Search</button>
            </form>

            <h2>{{count}}</h2>
            <h2>{{result}}</h2>

            <div>
            {% for i in bookdata %}
            
            <div class="book-card">
              <h1 class="display-6">{{ i.title }}</h1>
              <h3>{{ i.author }}</h3>

            </div>
            
            {% endfor %}
            </div>
        
        </div>

        <div class="calender-bar col-3 position-fixed offset-9">

        </div>

    </div>
    
{% endblock %}
  


