{% extends 'base.html' %}

{% load static %}

{% block extracss %}

  <link rel="stylesheet" href="{% static 'css/register.css' %}" type="text/css">


   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->

   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
		 -->

{% endblock %}


{% block restcontainer %}

<div class="row">

	<div class="col-md-4 col-12 mx-auto">

	<!--For horizontal align in mobile devices-->
	<div class="col-12 mt-5 d-flex justify-content-center d-md-none">
		<img src="{% static 'assets/logo.png' %}" class="logosize">
	</div>
	  
	<!--For vertical align in desktops-->
    <div class="col-md-4 mt-md-5 pt-md-5 mt-md-3 d-md-flex align-items-lg-center d-none">
    	<img src="{% static 'assets/logo.png' %}" style="width: 400%; height: auto;">
	</div>

	</div>
  
	
	<form method="POST" class="card col-md-7 col-10 mx-auto applyform p-md-4 p-3 p mt-3">
		{% csrf_token %}
		<h4 class="mb-5 mt-2 ml-2">Register</h4>

		<div class="row ">
			<div class="col-md-6 mb-3">
				<label class="mb-2 mt-2 h6">{{form.username.label}}</label>
				{{form.username}}
			</div> 
			<div class="col-md-6 mb-3">
				<label class="mb-2 mt-2 h6">{{profile_form.unique_id.label}}</label>
				{{profile_form.unique_id}}
		    </div>
	    </div>

		<div class="row">
			<div class="col-md-6 mb-3">
				<label class="mb-2 mt-2 h6">{{form.first_name.label}}</label>
				{{form.first_name}}
			</div>
	    
			<div class="col-md-6 mb-3">
				<label class="mb-2 mt-2 h6">{{form.last_name.label}}</label>
				{{form.last_name}}
			</div>
	    </div>

		<div class="row">
			<div class="col-md-6 mb-3">
				<label class="mb-2 mt-2 h6">{{form.password1.label}}</label>
				{{form.password1}}
			</div>
			<div class="col-md-6 mb-3">
				<label class="mb-2 mt-2 h6">{{form.password2.label}}</label>
				{{form.password2}}
			</div>
	    </div>

		<div class="row">
			<div class="col-md-6 mb-3">
				<label class="mb-2 mt-2 h6">{{profile_form.phone_number.label}}</label>
				{{profile_form.phone_number}}
			</div>

			<div class="col-md-6 mb-3">
				<label class="mb-2 mt-2 h6">{{profile_form.address.label}}</label>
				{{profile_form.address}}
			</div>
	    </div>
		

		<div class="mb-3 mt-3 row">
    		<button type="submit" class="h5 btn btn-primary col-md-3 col-10 mx-auto">Register</button>
        </div>

		<div class="row align-self-center">
			<p class="col-md-12 col-12 mx-auto h6">Already have an account?<span><a href="{% url 'login' %}" class="ml-2">Login</a></span></p>
		</div>

		<div class="row">
			<p class="col-10">{{form.errors}}</p>
		</div>

	</form>
        

					

       </div>


  <script>

    var c = document.getElementsByTagName("input");
    var i = 0;
    for(i = 0; i < c.length; i++){
        c[i].classList.add("form-control");
    }

</script>


 
{% endblock %}