$font-family-sans-serif:
  // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$base-color : #F4F6FC;

$leftbar-color : #E9ECF5;

$right-color : rgba(13, 39, 107, .87);

.container{
    color: rgba($color: #1B222D, $alpha: .87);
    // background-color: $base-color !important;
    max-width: 1366px;
}

.card{
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.form-control{
    border: none;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.btn{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: .5rem;   
}

.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}



@media (max-width: 768px) 
{
    .logosize{
        width: 35%;
        height: auto;
        margin: auto;
    }
}
@media (min-width: 1225px) 
{
    .logosize{
        width: 45%;
        height: auto;
    }
}
@media (min-width: 2560px) 
{
    .logosize{
        width: 35%;
        height: auto;
    }
}

